body {
    margin: 0px;
    padding-bottom: 30px;
    background: #000;
    font-family: sans-serif;
    color: #fff;
}

a:link { color:#AAAAFF; }
a:visited { color:#FFAAFF; }
a:active { color:#FFFFFF; }

.boxes { text-align: center; }

.box {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    background: #fff;
    display: inline-block;
    position: relative;
    margin: 3px;
    box-shadow: 0px 4px 6px rgba(64, 64, 64, 1.0);
}

.green {
    background: #00ff00;
    background: -webkit-gradient(linear, 0% 0%, 0% 120%,
                                 from(#0d7315), to(#00f43b));
}

.blue {
    background: #0000ff;
    background: -webkit-gradient(linear, 0% 0%, 0% 120%,
                                 from(#163ea4), to(#97e5f9));
}

.yellow {
    background: #ffff00;
    background: -webkit-gradient(linear, 0% 0%, 0% 120%,
                                 from(#ffef1e), to(#f87c01));
}

.red {
    background: #ff0000;
    background: -webkit-gradient(linear, 0% 0%, 0% 120%,
                                 from(#ff1e1e), to(#f82c01));
}

.box .gloss {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,
                                 from(rgba(255,255,255,0.6)),
                                 to(rgba(255,255,255,0.2)));
    height: 62px; /* 48% of box size */
    width: 130px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
/*    border-bottom-right-radius: 120px 20px;
    border-bottom-left-radius: 100px 20px; */
    border-bottom-right-radius: 120px 15px;
    border-bottom-left-radius: 100px 15px;
    z-index: 1;
    position: absolute;
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.6);
}

.box .tag {
    font-family: sans-serif;
    font-size: 70px;
    color: #000;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: bold;
    height: 130px;
    vertical-align: middle;
    display: table-cell;
    width: 130px;
}

.box .type {
    position: absolute;
    font-size: 15px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    z-index: 2;
    top: 10px;
    width: 130px;
    height: 15px;
}

.box .bar {
    position: absolute;
    width: 110px; /* box size - 20 */
    top: 100px;
    left: 10px;
    height: 15px;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(64, 64, 64, 1.0);
}

.bar .subbar {
    position: absolute;
    height: 15px;
    box-shadow: inset 0px 2px 1px rgba(255,255,255,0.6);
}

.bar .first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bar .last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bar .now {
    position: absolute;
    height: 5px;
    width: 5px;
    top: 6px;
    background: #000;
    border-radius: 5px;
}

.foot {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    padding-top: 10px;
}

.foot .part {
    width: 30%;
    display: inline-block;
}
